.contenedor-titulo-header{
    position: absolute;
    color: white;
    top: 35%;
}

.texto-titulo{
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 2.52rem;
    letter-spacing: 0.3rem;
    color: transparent !important;
    -webkit-text-stroke: .1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.6);
    
}

.texto-subtitulo{
    font-family: 'Anton', sans-serif;
    font-size: 1.95rem;
    letter-spacing: 0.2rem;
}

.texto-frase-titulo{
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    color: rgb(209, 209, 12) !important;
    line-height: 1;
}

/*.texto-frase-titulo{
    font-family: 'Notable', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    line-height: 1;
}*/

@media only screen and (max-width: 575px) {
    .texto-titulo{
        font-size: 1.44rem;
        letter-spacing: 0.15rem;
    }
    .texto-subtitulo{
        font-size: 1.09rem;
        letter-spacing: 0.1rem;
    }
    .texto-frase-titulo{
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .texto-titulo{
        font-size: 1.8rem;
        letter-spacing: 0.15rem;
    }
    .texto-subtitulo{
        font-size: 1.37rem;
        letter-spacing: 0.1rem;
    }
    .texto-frase-titulo{
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .texto-titulo{
        font-size: 2.04rem;
        letter-spacing: 0.25rem;
    }
    .texto-subtitulo{
        font-size: 1.6rem;
        letter-spacing: 0.15rem;
    }
    .texto-frase-titulo{
        font-size: 1.48rem;
        letter-spacing: 0.15rem;
    }
}