.navbar{
    background: transparent;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.navbar:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-nav{
    margin: 0 auto;
}

.texto-nav{
    color: rgb(190, 190, 190) !important;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

.navbar-toggler{
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.contenedor-titulo-header{
    position: absolute;
    color: white;
    top: 35%;
}

.texto-titulo{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: 0.4rem;
}

.texto-subtitulo{
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.texto-frase-titulo{
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
}

/*.texto-frase-titulo{
    font-family: 'Notable', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    line-height: 1;
}*/

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.3);
}

.dropdown-menu .dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.form-control{
    background-color: transparent;
}

.texto-form{
    color: rgb(190, 190, 190) !important;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
}

@media only screen and (max-width: 991px) {
    .texto-titulo{
        font-size: 2.75rem;
        letter-spacing: 0.3rem;
    }
    .texto-subtitulo{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
    .texto-frase-titulo{
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
    }
}

@media only screen and (max-width: 767px) {
    .texto-titulo{
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }
    .texto-subtitulo{
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
    .texto-frase-titulo{
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
    }
}

@media only screen and (max-width: 575px) {
    .texto-nav{
        font-size: 1.1rem;
    }
    .texto-titulo{
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }
    .texto-subtitulo{
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }
    .texto-frase-titulo{
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }
}