.navbar{
    background: transparent !important;
}

.navbar-nav{
    margin: 0 auto;
}

.texto-nav{
    color: rgb(190, 190, 190) !important;
    font-size: 1.3rem;
}

.contenedor-nav{
    position: absolute;
    z-index: 1;
    width: 100%;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: bold;
}

.contenedor-imagen{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    
}

@media only screen and (max-width: 575px) {
    .texto-nav{
        font-size: 1rem;
    }
}