.navbar{
    background: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.navbar:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-nav{
    margin: 0 auto;
}

.texto-nav{
    color: rgb(190, 190, 190) !important;
    font-size: 1rem;
}

.navbar-toggler{
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.3);
}

.dropdown-menu .dropdown-item:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.form-control{
    background-color: transparent !important;
}

.texto-form{
    color: rgb(190, 190, 190) !important;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0%;
}

@media only screen and (max-width: 575px) {
    .texto-nav{
        font-size: .9rem;
    }
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.2) !important;
}

@media only screen and (min-width: 768px) {
    .nav-link:hover{
        border-bottom: 1.5px solid #f8a12d !important;
        height: 38px;
    }
}